@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans/JosefinSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans/JosefinSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans/JosefinSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans/JosefinSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans/JosefinSans-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Thin.ttf);
  font-weight: 100;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 720px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 500px;
  }
}

@media only screen and (max-width: 520px) {
  .container {
    width: 90vw;
  }
}

.header-nav .toggler-icon {
  display: none;
}

.header-nav .nav-bar {
  margin: 0;
  padding: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header-nav .nav-bar .nav-item {
  position: relative;
  list-style: none;
  margin: 20px 25px 0 25px;
}

.header-nav .nav-bar .nav-item::after {
  margin: 0 auto;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.header-nav .nav-bar .nav-item:hover::after {
  width: 100%;
}

.header-nav .nav-bar .nav-item .nav-link {
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

@media only screen and (max-width: 991px) {
  .nav-container {
    width: 100% !important;
    height: 100%;
  }
  .header-nav {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1 !important;
  }
  .header-nav .toggler-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    -webkit-transition: all, 1.5s;
    transition: all, 1.5s;
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .header-nav .toggler-icon div {
    width: 30px;
    height: 3px;
    background: #000;
    margin-top: 5px;
    -webkit-transition: all, 1.0s;
    transition: all, 1.0s;
  }
  .header-nav .toggler-icon div:first-child {
    margin-top: 0;
  }
  .header-nav .toggler-icon_close {
    left: calc(90% - 30px);
  }
  .header-nav .toggler-icon_close div {
    width: 30px;
    height: 3px;
    background: #000;
    margin-top: 5px;
  }
  .header-nav .toggler-icon_close div:first-child {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .header-nav .toggler-icon_close div:nth-child(2) {
    margin-top: -2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .header-nav .toggler-icon_close div:last-child {
    display: none;
  }
  .header-nav .nav-bar {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #b71c1c;
    border-bottom: 7px solid #9e9e9e;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(183, 28, 28, 0.95)), to(#b71c1c));
    background: linear-gradient(rgba(183, 28, 28, 0.95), #b71c1c);
  }
  .header-nav .nav-bar .nav-item {
    width: 100%;
    position: relative;
    margin-left: 0;
    padding-top: 20px;
    margin-bottom: 0;
    border-top: none;
    padding-bottom: 20px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all, .3s;
    transition: all, .3s;
  }
  .header-nav .nav-bar .nav-item::after {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    content: '';
    display: block;
    width: 0;
    margin: 0 auto;
    height: 2px;
    background: black;
    -webkit-transition: all, 1.5s;
    transition: all, 1.5s;
  }
  .header-nav .nav-bar .nav-item:hover {
    background: #8b1515;
  }
  .header-nav .nav-bar .nav-item:hover::after {
    width: 100%;
  }
  .header-nav .nav-bar .nav-item:hover .nav-link {
    color: #000;
  }
  .header-nav .nav-bar .nav-item .nav-link {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    -webkit-transition: all, .3s;
    transition: all, .3s;
  }
}

@media only screen and (max-width: 767px) {
  .header-nav .nav-bar {
    border-bottom: 5px solid #9e9e9e;
  }
  .header-nav .nav-bar .nav-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.header {
  width: 100%;
  padding-bottom: 250px;
  background: url(../img/header__bg.jpg) no-repeat center/cover;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header-block__nav {
  width: 100%;
  position: relative;
  background: rgba(183, 28, 28, 0.95);
  padding-bottom: 20px;
}

.header-block__heading {
  width: 100%;
  background: #b71c1c;
  padding: 50px 0;
  border-top: 10px solid #9e9e9e;
  border-bottom: 10px solid #9e9e9e;
  margin-top: 250px;
  text-align: center;
  font-family: JosefinSans;
}

.header-block__heading h1 {
  font-size: 54px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.header-block__heading p {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
}

@media only screen and (max-width: 1199px) {
  .header {
    padding-bottom: 225px;
  }
  .header-block__heading {
    margin-top: 225px;
  }
  .header-block__heading h1 {
    font-size: 44px;
    margin-bottom: 25px;
  }
  .header-block__heading p {
    font-size: 24px;
  }
}

@media only screen and (max-width: 991px) {
  .header {
    padding-bottom: 175px;
  }
  .header-block__heading {
    padding: 40px 0;
    border-top: 7px solid #9e9e9e;
    border-bottom: 7px solid #9e9e9e;
    margin-top: 175px;
  }
  .header-block__heading h1 {
    font-size: 34px;
  }
  .header-block__heading p {
    font-size: 20px;
  }
  .header-block__nav {
    height: 50px;
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    padding-bottom: 150px;
  }
  .header-block__heading {
    padding: 40px 0;
    border-top: 5px solid #9e9e9e;
    border-bottom: 5px solid #9e9e9e;
    margin-top: 150px;
  }
  .header-block__heading h1 {
    font-size: 30px;
  }
  .header-block__heading p {
    font-size: 18px;
  }
}

section {
  width: 100%;
  padding: 100px 0;
}

section:nth-child(even) {
  background: #e0e0e0;
}

section:nth-child(odd) {
  background: #fafafa;
}

.section-heading {
  width: inherit;
  padding: 0 200px;
  text-align: center;
  margin-bottom: 100px;
  color: #b71c1c;
}

.section-heading h2 {
  font-family: JosefinSans;
  font-size: 36px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 600;
}

.section-heading p {
  font-size: 22px;
}

.elements-ttl {
  width: 100%;
  padding: 0 200px;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}

@media only screen and (max-width: 1199px) {
  section {
    padding: 90px 0;
  }
  .section-heading {
    padding: 0 150px;
    margin-bottom: 75px;
  }
  .section-heading h2 {
    font-size: 34px;
  }
  .section-heading p {
    font-size: 20px;
  }
  .elements-ttl {
    padding: 0 150px;
  }
}

@media only screen and (max-width: 991px) {
  section {
    padding: 75px 0;
  }
  .section-heading {
    padding: 0 100px;
    margin-bottom: 50px;
  }
  .section-heading h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .section-heading p {
    font-size: 18px;
  }
  .elements-ttl {
    padding: 0 100px;
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  section {
    padding: 50px 0;
  }
  .section-heading {
    padding: 0 50px;
    margin-bottom: 30px;
  }
  .section-heading h2 {
    font-size: 26px;
    margin-bottom: 15px;
  }
  .section-heading p {
    font-size: 16px;
  }
  .elements-ttl {
    padding: 0 50px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 520px) {
  .section-heading {
    padding: 0 25px;
  }
  .section-heading h2 {
    font-size: 24px;
  }
  .section-heading p {
    font-size: 14px;
  }
  .elements-ttl {
    padding: 0 25px;
    font-size: 18px;
  }
}

.footer {
  width: 100%;
  padding-bottom: 25px;
  background: #212121;
}

.footer ul {
  margin: 0;
  padding: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer ul li {
  list-style: none;
  margin: 20px 25px 0 25px;
}

.footer ul li a {
  text-decoration: none;
  font-family: JosefinSans;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.footer ul li::after {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  content: '';
  display: block;
  width: 0;
  margin: 0 auto;
  height: 2px;
  background: #b71c1c;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.footer ul li:hover::after {
  width: 100%;
}

.footer ul li:hover a {
  color: #b71c1c;
}

.top-bar-block {
  width: 100%;
  padding: 25px 0;
  background: #333;
}

.top-bar-block .container {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-bar-block .site-logo {
  width: 75px;
}

.top-bar-block .site-logo img {
  width: 100%;
}

.top-bar-block .top-bar {
  width: calc(100% - 100px);
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-bar-block .top-bar_right input {
  padding: 5px 10px;
  outline-color: #000;
  font-size: 14px;
  font-weight: 400;
  color: #212121;
}

.top-bar-block .top-bar_right button {
  margin-left: 10px;
  padding: 7px 10px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background: #b71c1c;
  color: #fff;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.top-bar-block .top-bar_right button:hover {
  background: #8b1515;
}

.top-bar_left .toggler-icon {
  display: none;
}

.top-bar_left .main-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-bar_left .main-ul ul {
  position: absolute;
  display: none;
}

.top-bar_left .main-ul li {
  list-style: none;
  position: relative;
  padding: 10px 25px;
  background: #000;
  border: 2px solid #0d47a1;
}

.top-bar_left .main-ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.top-bar_left .main-ul li a:first-child:nth-last-child(2):before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  top: 50%;
  right: 5px;
}

.top-bar_left .main-ul li:hover > a {
  color: #b71c1c;
}

.top-bar_left .main-ul li li > a:first-child:nth-last-child(2):before {
  border-left-color: #fff;
  margin-top: -5px;
}

.top-bar_left .main-ul li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-right-color: #b71c1c;
  right: 10px;
}

.top-bar_left .main-ul > li {
  margin: 0 5px;
  background: #212121;
  border-radius: 5px;
  border: none;
}

.top-bar_left .main-ul > li > a {
  color: #eeff41;
}

.top-bar_left .main-ul > li > a:first-child:nth-last-child(2):before {
  border-top-color: #eeff41;
}

.top-bar_left .main-ul > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-bottom-color: #b71c1c;
  margin-top: -5px;
}

.top-bar_left .main-ul > li:hover > ul {
  left: 0;
  top: 100%;
  display: block;
}

.top-bar_left .main-ul > li li:hover > ul {
  top: -2px;
  left: 100%;
  display: block;
}
