@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans/JosefinSans-Bold.ttf);
  font-weight: 700; }

@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans/JosefinSans-SemiBold.ttf);
  font-weight: 600; }

@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans/JosefinSans-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans/JosefinSans-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans/JosefinSans-Thin.ttf);
  font-weight: 100; }

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Black.ttf);
  font-weight: 900; }

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Bold.ttf);
  font-weight: 700; }

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Semibold.ttf);
  font-weight: 600; }

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Medium.ttf);
  font-weight: 500; }

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Thin.ttf);
  font-weight: 100; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: Lato, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative; }

@media only screen and (max-width: 1199px) {
  .container {
    width: 960px; } }

@media only screen and (max-width: 991px) {
  .container {
    width: 720px; } }

@media only screen and (max-width: 767px) {
  .container {
    width: 500px; } }

@media only screen and (max-width: 520px) {
  .container {
    width: 90vw; } }

.header-nav .toggler-icon {
  display: none; }

.header-nav .nav-bar {
  margin: 0;
  padding: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  .header-nav .nav-bar .nav-item {
    position: relative;
    list-style: none;
    margin: 20px 25px 0 25px; }
    .header-nav .nav-bar .nav-item::after {
      margin: 0 auto;
      -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
      transform: translateY(1px);
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #000;
      -webkit-transition: all, .3s;
      -o-transition: all, .3s;
      transition: all, .3s; }
    .header-nav .nav-bar .nav-item:hover::after {
      width: 100%; }
    .header-nav .nav-bar .nav-item .nav-link {
      padding: 0;
      font-size: 20px;
      font-weight: 700;
      color: #000;
      text-decoration: none; }

@media only screen and (max-width: 991px) {
  .nav-container {
    width: 100% !important;
    height: 100%; }
  .header-nav {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1 !important; }
    .header-nav .toggler-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;
      cursor: pointer;
      -webkit-transition: all, 1.5s;
      -o-transition: all, 1.5s;
      transition: all, 1.5s;
      position: absolute;
      left: 10%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .header-nav .toggler-icon div {
        width: 30px;
        height: 3px;
        background: #000;
        margin-top: 5px;
        -webkit-transition: all, .5s ease-in;
        -o-transition: all, .5s ease-in;
        transition: all, .5s ease-in; }
        .header-nav .toggler-icon div:first-child {
          margin-top: 0; }
    .header-nav .toggler-icon_close {
      left: -webkit-calc(90% - 30px);
      left: calc(90% - 30px); }
      .header-nav .toggler-icon_close div {
        width: 30px;
        height: 3px;
        background: #000;
        margin-top: 5px; }
        .header-nav .toggler-icon_close div:first-child {
          margin-top: 1px;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
        .header-nav .toggler-icon_close div:nth-child(2) {
          margin-top: -2px;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .header-nav .toggler-icon_close div:last-child {
          display: none; }
    .header-nav .nav-bar {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      z-index: 10;
      background: #b71c1c;
      border-bottom: 7px solid #9e9e9e;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(183, 28, 28, 0.95)), to(#b71c1c));
      background: -webkit-linear-gradient(rgba(183, 28, 28, 0.95), #b71c1c);
      background: -o-linear-gradient(rgba(183, 28, 28, 0.95), #b71c1c);
      background: linear-gradient(rgba(183, 28, 28, 0.95), #b71c1c); }
      .header-nav .nav-bar .nav-item {
        width: 100%;
        position: relative;
        margin-left: 0;
        padding-top: 20px;
        margin-bottom: 0;
        border-top: none;
        padding-bottom: 20px;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-transition: all, .3s;
        -o-transition: all, .3s;
        transition: all, .3s; }
        .header-nav .nav-bar .nav-item::after {
          -webkit-transform: translateY(3px);
          -ms-transform: translateY(3px);
          transform: translateY(3px);
          content: '';
          display: block;
          width: 0;
          margin: 0 auto;
          height: 2px;
          background: black;
          -webkit-transition: all, 1.5s;
          -o-transition: all, 1.5s;
          transition: all, 1.5s; }
        .header-nav .nav-bar .nav-item:hover {
          background: #8b1515; }
          .header-nav .nav-bar .nav-item:hover::after {
            width: 100%; }
          .header-nav .nav-bar .nav-item:hover .nav-link {
            color: #000; }
        .header-nav .nav-bar .nav-item .nav-link {
          color: #fff;
          text-align: center;
          margin: 0 auto;
          -webkit-transition: all, .3s;
          -o-transition: all, .3s;
          transition: all, .3s; } }

@media only screen and (max-width: 767px) {
  .header-nav .nav-bar {
    border-bottom: 5px solid #9e9e9e; }
    .header-nav .nav-bar .nav-item {
      padding-top: 15px;
      padding-bottom: 15px; } }

.header {
  width: 100%;
  padding-bottom: 250px;
  background: url(../img/header__bg.jpg) no-repeat center/cover;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }
  .header-block__nav {
    width: 100%;
    position: relative;
    background: rgba(183, 28, 28, 0.95);
    padding-bottom: 20px; }
  .header-block__heading {
    width: 100%;
    background: #b71c1c;
    padding: 50px 0;
    border-top: 10px solid #9e9e9e;
    border-bottom: 10px solid #9e9e9e;
    margin-top: 250px;
    text-align: center;
    font-family: JosefinSans; }
    .header-block__heading h1 {
      font-size: 54px;
      font-weight: 500;
      margin: 0;
      margin-bottom: 30px;
      text-transform: uppercase; }
    .header-block__heading p {
      margin: 0;
      font-size: 28px;
      font-weight: 400; }

@media only screen and (max-width: 1199px) {
  .header {
    padding-bottom: 225px; }
    .header-block__heading {
      margin-top: 225px; }
      .header-block__heading h1 {
        font-size: 44px;
        margin-bottom: 25px; }
      .header-block__heading p {
        font-size: 24px; } }

@media only screen and (max-width: 991px) {
  .header {
    padding-bottom: 175px; }
    .header-block__heading {
      padding: 40px 0;
      border-top: 7px solid #9e9e9e;
      border-bottom: 7px solid #9e9e9e;
      margin-top: 175px; }
      .header-block__heading h1 {
        font-size: 34px; }
      .header-block__heading p {
        font-size: 20px; }
    .header-block__nav {
      height: 50px;
      padding-bottom: 0px; } }

@media only screen and (max-width: 767px) {
  .header {
    padding-bottom: 150px; }
    .header-block__heading {
      padding: 40px 0;
      border-top: 5px solid #9e9e9e;
      border-bottom: 5px solid #9e9e9e;
      margin-top: 150px; }
      .header-block__heading h1 {
        font-size: 30px; }
      .header-block__heading p {
        font-size: 18px; } }

section {
  width: 100%;
  padding: 100px 0; }
  section:nth-child(even) {
    background: #e0e0e0; }
  section:nth-child(odd) {
    background: #fafafa; }

.section-heading {
  width: inherit;
  padding: 0 200px;
  text-align: center;
  margin-bottom: 100px;
  color: #b71c1c; }
  .section-heading h2 {
    font-family: JosefinSans;
    font-size: 36px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 600; }
  .section-heading p {
    font-size: 22px; }

.elements-ttl {
  width: 100%;
  padding: 0 200px;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center; }

@media only screen and (max-width: 1199px) {
  section {
    padding: 90px 0; }
  .section-heading {
    padding: 0 150px;
    margin-bottom: 75px; }
    .section-heading h2 {
      font-size: 34px; }
    .section-heading p {
      font-size: 20px; }
  .elements-ttl {
    padding: 0 150px; } }

@media only screen and (max-width: 991px) {
  section {
    padding: 75px 0; }
  .section-heading {
    padding: 0 100px;
    margin-bottom: 50px; }
    .section-heading h2 {
      font-size: 30px;
      margin-bottom: 20px; }
    .section-heading p {
      font-size: 18px; }
  .elements-ttl {
    padding: 0 100px;
    font-size: 24px; } }

@media only screen and (max-width: 767px) {
  section {
    padding: 50px 0; }
  .section-heading {
    padding: 0 50px;
    margin-bottom: 30px; }
    .section-heading h2 {
      font-size: 26px;
      margin-bottom: 15px; }
    .section-heading p {
      font-size: 16px; }
  .elements-ttl {
    padding: 0 50px;
    font-size: 20px; } }

@media only screen and (max-width: 520px) {
  .section-heading {
    padding: 0 25px; }
    .section-heading h2 {
      font-size: 24px; }
    .section-heading p {
      font-size: 14px; }
  .elements-ttl {
    padding: 0 25px;
    font-size: 18px; } }

.footer {
  width: 100%;
  padding-bottom: 25px;
  background: #212121; }
  .footer ul {
    margin: 0;
    padding: 0;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footer ul li {
      list-style: none;
      margin: 20px 25px 0 25px; }
      .footer ul li a {
        text-decoration: none;
        font-family: JosefinSans;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        -webkit-transition: all, 0.3s;
        -o-transition: all, 0.3s;
        transition: all, 0.3s; }
      .footer ul li::after {
        -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
        transform: translateY(3px);
        content: '';
        display: block;
        width: 0;
        margin: 0 auto;
        height: 2px;
        background: #b71c1c;
        -webkit-transition: all, 0.3s;
        -o-transition: all, 0.3s;
        transition: all, 0.3s; }
      .footer ul li:hover::after {
        width: 100%; }
      .footer ul li:hover a {
        color: #b71c1c; }

.slick-dotted.slick-slider {
  margin: 0; }

.simple-slider {
  width: 100%;
  margin: 0;
  padding: 0; }
  .simple-slider__slide {
    width: 100%;
    height: 700px;
    position: relative;
    outline: none; }
    .simple-slider__slide:before {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7); }
    .simple-slider__slide .container {
      width: 100%;
      height: 100%;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center; }
    .simple-slider__slide h3 {
      font-family: JosefinSans;
      font-size: 42px;
      font-weight: 400;
      color: #fff;
      margin: 0; }
    .simple-slider__slide_01 {
      background: url(../img/space-slider__bg_01.jpg) no-repeat center/cover; }
    .simple-slider__slide_02 {
      background: url(../img/space-slider__bg_02.jpg) no-repeat center/cover; }
    .simple-slider__slide_03 {
      background: url(../img/space-slider__bg_03.jpg) no-repeat center/cover; }

.simple-slider__block {
  position: relative; }

.simple-slider__arrow {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: #000;
  font-size: 34px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all, .5s;
  -o-transition: all, .5s;
  transition: all, .5s; }
  .simple-slider__arrow:hover {
    background: rgba(255, 255, 255, 0.95); }
  .simple-slider__arrow_prev {
    left: 30px; }
  .simple-slider__arrow_next {
    right: 30px; }

.simple-slider__slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .simple-slider__slick-dots li {
    list-style: none; }
    .simple-slider__slick-dots li button {
      font-size: 0;
      width: 10px;
      height: 10px;
      border: none;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: #fefefe;
      margin-right: 10px;
      outline: none;
      cursor: pointer;
      padding: 0;
      -webkit-transition: all, .5s;
      -o-transition: all, .5s;
      transition: all, .5s; }
      .simple-slider__slick-dots li button:hover {
        background: #ff4d4d; }
    .simple-slider__slick-dots li:last-child button {
      margin-right: 0; }
  .simple-slider__slick-dots li.slick-active button {
    background: #b30000; }

@media only screen and (max-width: 1199px) {
  .simple-slider__slide {
    height: 600px; }
    .simple-slider__slide h3 {
      font-size: 36px; } }

@media only screen and (max-width: 991px) {
  .simple-slider__slide {
    height: 500px; }
    .simple-slider__slide h3 {
      font-size: 32px; }
  .simple-slider__arrow {
    width: 35px;
    height: 35px;
    font-size: 28px; }
    .simple-slider__arrow_prev {
      left: 20px; }
    .simple-slider__arrow_next {
      right: 20px; } }

@media only screen and (max-width: 767px) {
  .simple-slider__slide {
    height: 400px; }
    .simple-slider__slide h3 {
      font-size: 28px; } }

.vertical-slider {
  width: 100%;
  margin: 0;
  padding: 0; }
  .vertical-slider__slide {
    width: 100%;
    height: 700px !important;
    position: relative;
    outline: none; }
    .vertical-slider__slide:before {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: -1px;
      background: rgba(0, 0, 0, 0.7); }
    .vertical-slider__slide .container {
      width: 100%;
      height: 100%;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center; }
    .vertical-slider__slide h3 {
      font-family: JosefinSans;
      font-size: 42px;
      font-weight: 400;
      color: #fff;
      margin: 0; }
    .vertical-slider__slide_01 {
      background: url(../img/river-slider__bg_01.jpg) no-repeat center/cover; }
    .vertical-slider__slide_02 {
      background: url(../img/river-slider__bg_02.jpg) no-repeat center/cover; }
    .vertical-slider__slide_03 {
      background: url(../img/river-slider__bg_03.jpg) no-repeat center/cover; }

.vertical-slider__block {
  position: relative; }

.vertical-slider__arrow {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: #000;
  font-size: 34px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  right: 30px;
  -webkit-transition: all, .5s;
  -o-transition: all, .5s;
  transition: all, .5s; }
  .vertical-slider__arrow:hover {
    background: rgba(255, 255, 255, 0.95); }
  .vertical-slider__arrow_prev {
    top: 30px; }
  .vertical-slider__arrow_next {
    bottom: 30px; }

.vertical-slider__slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg); }
  .vertical-slider__slick-dots li {
    list-style: none; }
    .vertical-slider__slick-dots li button {
      font-size: 0;
      width: 25px;
      height: 3px;
      border: none;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background: #fefefe;
      margin-right: 10px;
      outline: none;
      cursor: pointer;
      padding: 0;
      -webkit-transition: all, .5s;
      -o-transition: all, .5s;
      transition: all, .5s; }
      .vertical-slider__slick-dots li button:hover {
        background: #ff4d4d; }
    .vertical-slider__slick-dots li:last-child button {
      margin-right: 0; }
  .vertical-slider__slick-dots li.slick-active button {
    background: #b30000;
    height: 5px; }

@media only screen and (max-width: 1199px) {
  .vertical-slider__slide {
    height: 600px !important; }
    .vertical-slider__slide h3 {
      font-size: 36px; } }

@media only screen and (max-width: 991px) {
  .vertical-slider__slide {
    height: 500px !important; }
    .vertical-slider__slide h3 {
      font-size: 32px; }
  .vertical-slider__arrow {
    width: 35px;
    height: 35px;
    font-size: 28px;
    right: 20px; }
    .vertical-slider__arrow_prev {
      top: 20px; }
    .vertical-slider__arrow_next {
      bottom: 20px; }
  .vertical-slider__slick-dots {
    left: -5px; } }

@media only screen and (max-width: 767px) {
  .vertical-slider__slide {
    height: 400px !important; }
    .vertical-slider__slide h3 {
      font-size: 28px; }
  .vertical-slider__slick-dots {
    left: -15px; } }

.responsive-slider {
  width: 100%;
  margin: 0;
  padding: 0; }
  .responsive-slider .slick-slide {
    outline: none; }
  .responsive-slider__slide {
    outline: none !important;
    width: 250px !important;
    height: 350px;
    margin: 30px auto;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .responsive-slider__slide h3 {
      font-family: JosefinSans;
      font-size: 24px;
      font-weight: 400; }
    .responsive-slider__slide_01 {
      background: #b71c1c; }
    .responsive-slider__slide_02 {
      background: #009688; }
    .responsive-slider__slide_03 {
      background: #00bcd4; }
    .responsive-slider__slide_04 {
      background: #4caf50; }
    .responsive-slider__slide_05 {
      background: #2196f3; }
    .responsive-slider__slide_06 {
      background: #ffeb3b; }
    .responsive-slider__slide_07 {
      background: #ff5722; }
    .responsive-slider__slide_08 {
      background: #9e9e9e; }
    .responsive-slider__slide_09 {
      background: #a1887f; }
    .responsive-slider__slide_10 {
      background: #607d8b; }
    .responsive-slider__slide_01 {
      background: #b71c1c; }
    .responsive-slider__slide_11 {
      background: #b71c1c; }
    .responsive-slider__slide_12 {
      background: #d505a6; }
    .responsive-slider__slide_13 {
      background: #263238; }
    .responsive-slider__slide_14 {
      background: #aeea00; }
    .responsive-slider__slide_15 {
      background: #18ffff; }
    .responsive-slider__slide_16 {
      background: #651fff; }
    .responsive-slider__slide_17 {
      background: #1a237e; }
    .responsive-slider__slide_18 {
      background: #004d40; }
    .responsive-slider__slide_19 {
      background: #e65100; }
    .responsive-slider__slide_20 {
      background: #3e2723; }
    .responsive-slider__slide_21 {
      background: #01579b; }
    .responsive-slider__slide_22 {
      background: #424242; }
    .responsive-slider__slide_23 {
      background: #ffff00; }
    .responsive-slider__slide_24 {
      background: #1b5e20; }

.responsive-slider__block {
  position: relative; }

.responsive-slider__arrow {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: #000;
  font-size: 34px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all, .5s;
  -o-transition: all, .5s;
  transition: all, .5s; }
  .responsive-slider__arrow:hover {
    background: rgba(255, 255, 255, 0.95); }
  .responsive-slider__arrow_prev {
    left: 0px; }
  .responsive-slider__arrow_next {
    right: 0px; }

.responsive-slider__slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .responsive-slider__slick-dots li {
    list-style: none; }
    .responsive-slider__slick-dots li button {
      font-size: 0;
      width: 10px;
      height: 10px;
      border: none;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: #fefefe;
      margin-right: 10px;
      outline: none;
      cursor: pointer;
      padding: 0;
      -webkit-transition: all, .5s;
      -o-transition: all, .5s;
      transition: all, .5s; }
      .responsive-slider__slick-dots li button:hover {
        background: #ff4d4d; }
    .responsive-slider__slick-dots li:last-child button {
      margin-right: 0; }
  .responsive-slider__slick-dots li.slick-active button {
    background: #b30000; }

@media only screen and (max-width: 1199px) {
  .responsive-slider__slide {
    margin: 30px auto; } }

@media only screen and (max-width: 991px) {
  .responsive-slider__slide {
    width: 290px !important; }
  .responsive-slider__arrow {
    width: 35px;
    height: 35px;
    font-size: 28px; } }

@media only screen and (max-width: 767px) {
  .responsive-slider__slide {
    width: 225px !important;
    height: 300px;
    margin: 25px auto; } }

@media only screen and (max-width: 520px) {
  .responsive-slider__slide {
    width: 275px !important;
    height: 350px;
    margin: 20px auto; } }

.counter-slider {
  width: 100%;
  margin: 0;
  padding: 0; }
  .counter-slider__slide {
    width: 100%;
    height: 700px;
    position: relative;
    outline: none; }
    .counter-slider__slide:before {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7); }
    .counter-slider__slide .container {
      width: 100%;
      height: 100%;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center; }
    .counter-slider__slide h3 {
      font-family: JosefinSans;
      font-size: 42px;
      font-weight: 400;
      color: #fff;
      margin: 0; }
    .counter-slider__slide_01 {
      background: url(../img/lake-01.jpg) no-repeat center/cover; }
    .counter-slider__slide_02 {
      background: url(../img/lake-02.jpg) no-repeat center/cover; }
    .counter-slider__slide_03 {
      background: url(../img/lake-03.jpg) no-repeat center/cover; }

.counter-slider__block {
  position: relative; }

.counter-slider__arrow {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: #000;
  font-size: 34px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all, .5s;
  -o-transition: all, .5s;
  transition: all, .5s; }
  .counter-slider__arrow:hover {
    background: rgba(255, 255, 255, 0.95); }
  .counter-slider__arrow_prev {
    left: 30px; }
  .counter-slider__arrow_next {
    right: 30px; }

.counter-slider__slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .counter-slider__slick-dots li {
    list-style: none;
    margin: 0 10px; }
    .counter-slider__slick-dots li a {
      font-family: JosefinSans;
      font-size: 20px;
      font-style: italic;
      font-weight: 400;
      color: #fefefe;
      text-decoration: none;
      cursor: pointer; }
  .counter-slider__slick-dots li.slick-active a {
    color: #b30000; }

.counter-slider__count {
  position: absolute;
  top: 30px;
  right: 50px; }
  .counter-slider__count .slider-count {
    font-family: JosefinSans;
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
    color: #fefefe; }
    .counter-slider__count .slider-count #current-slide {
      color: #b71c1c; }
    .counter-slider__count .slider-count #total-slide {
      color: #999; }

@media only screen and (max-width: 1199px) {
  .counter-slider__slide {
    height: 600px; }
    .counter-slider__slide h3 {
      font-size: 36px; } }

@media only screen and (max-width: 991px) {
  .counter-slider__slide {
    height: 500px; }
    .counter-slider__slide h3 {
      font-size: 32px; }
  .counter-slider__arrow {
    width: 35px;
    height: 35px;
    font-size: 28px; }
    .counter-slider__arrow_prev {
      left: 20px; }
    .counter-slider__arrow_next {
      right: 20px; }
  .counter-slider__count {
    right: 20px; } }

@media only screen and (max-width: 767px) {
  .counter-slider__slide {
    height: 400px; }
    .counter-slider__slide h3 {
      font-size: 28px; } }
