@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans/JosefinSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans/JosefinSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans/JosefinSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans/JosefinSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans/JosefinSans-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Thin.ttf);
  font-weight: 100;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 720px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 500px;
  }
}

@media only screen and (max-width: 520px) {
  .container {
    width: 90vw;
  }
}

.header-nav .toggler-icon {
  display: none;
}

.header-nav .nav-bar {
  margin: 0;
  padding: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header-nav .nav-bar .nav-item {
  position: relative;
  list-style: none;
  margin: 20px 25px 0 25px;
}

.header-nav .nav-bar .nav-item::after {
  margin: 0 auto;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.header-nav .nav-bar .nav-item:hover::after {
  width: 100%;
}

.header-nav .nav-bar .nav-item .nav-link {
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

@media only screen and (max-width: 991px) {
  .nav-container {
    width: 100% !important;
    height: 100%;
  }
  .header-nav {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1 !important;
  }
  .header-nav .toggler-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    -webkit-transition: all, 1.5s;
    transition: all, 1.5s;
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .header-nav .toggler-icon div {
    width: 30px;
    height: 3px;
    background: #000;
    margin-top: 5px;
    -webkit-transition: all, .5s ease-in;
    transition: all, .5s ease-in;
  }
  .header-nav .toggler-icon div:first-child {
    margin-top: 0;
  }
  .header-nav .toggler-icon_close {
    left: calc(90% - 30px);
  }
  .header-nav .toggler-icon_close div {
    width: 30px;
    height: 3px;
    background: #000;
    margin-top: 5px;
  }
  .header-nav .toggler-icon_close div:first-child {
    margin-top: 1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .header-nav .toggler-icon_close div:nth-child(2) {
    margin-top: -2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .header-nav .toggler-icon_close div:last-child {
    display: none;
  }
  .header-nav .nav-bar {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #b71c1c;
    border-bottom: 7px solid #9e9e9e;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(183, 28, 28, 0.95)), to(#b71c1c));
    background: linear-gradient(rgba(183, 28, 28, 0.95), #b71c1c);
  }
  .header-nav .nav-bar .nav-item {
    width: 100%;
    position: relative;
    margin-left: 0;
    padding-top: 20px;
    margin-bottom: 0;
    border-top: none;
    padding-bottom: 20px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all, .3s;
    transition: all, .3s;
  }
  .header-nav .nav-bar .nav-item::after {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    content: '';
    display: block;
    width: 0;
    margin: 0 auto;
    height: 2px;
    background: black;
    -webkit-transition: all, 1.5s;
    transition: all, 1.5s;
  }
  .header-nav .nav-bar .nav-item:hover {
    background: #8b1515;
  }
  .header-nav .nav-bar .nav-item:hover::after {
    width: 100%;
  }
  .header-nav .nav-bar .nav-item:hover .nav-link {
    color: #000;
  }
  .header-nav .nav-bar .nav-item .nav-link {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    -webkit-transition: all, .3s;
    transition: all, .3s;
  }
}

@media only screen and (max-width: 767px) {
  .header-nav .nav-bar {
    border-bottom: 5px solid #9e9e9e;
  }
  .header-nav .nav-bar .nav-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.header {
  width: 100%;
  padding-bottom: 250px;
  background: url(../img/header__bg.jpg) no-repeat center/cover;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header-block__nav {
  width: 100%;
  position: relative;
  background: rgba(183, 28, 28, 0.95);
  padding-bottom: 20px;
}

.header-block__heading {
  width: 100%;
  background: #b71c1c;
  padding: 50px 0;
  border-top: 10px solid #9e9e9e;
  border-bottom: 10px solid #9e9e9e;
  margin-top: 250px;
  text-align: center;
  font-family: JosefinSans;
}

.header-block__heading h1 {
  font-size: 54px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.header-block__heading p {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
}

@media only screen and (max-width: 1199px) {
  .header {
    padding-bottom: 225px;
  }
  .header-block__heading {
    margin-top: 225px;
  }
  .header-block__heading h1 {
    font-size: 44px;
    margin-bottom: 25px;
  }
  .header-block__heading p {
    font-size: 24px;
  }
}

@media only screen and (max-width: 991px) {
  .header {
    padding-bottom: 175px;
  }
  .header-block__heading {
    padding: 40px 0;
    border-top: 7px solid #9e9e9e;
    border-bottom: 7px solid #9e9e9e;
    margin-top: 175px;
  }
  .header-block__heading h1 {
    font-size: 34px;
  }
  .header-block__heading p {
    font-size: 20px;
  }
  .header-block__nav {
    height: 50px;
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    padding-bottom: 150px;
  }
  .header-block__heading {
    padding: 40px 0;
    border-top: 5px solid #9e9e9e;
    border-bottom: 5px solid #9e9e9e;
    margin-top: 150px;
  }
  .header-block__heading h1 {
    font-size: 30px;
  }
  .header-block__heading p {
    font-size: 18px;
  }
}

section {
  width: 100%;
  padding: 100px 0;
}

section:nth-child(even) {
  background: #e0e0e0;
}

section:nth-child(odd) {
  background: #fafafa;
}

.section-heading {
  width: inherit;
  padding: 0 200px;
  text-align: center;
  margin-bottom: 100px;
  color: #b71c1c;
}

.section-heading h2 {
  font-family: JosefinSans;
  font-size: 36px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 600;
}

.section-heading p {
  font-size: 22px;
}

.elements-ttl {
  width: 100%;
  padding: 0 200px;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}

@media only screen and (max-width: 1199px) {
  section {
    padding: 90px 0;
  }
  .section-heading {
    padding: 0 150px;
    margin-bottom: 75px;
  }
  .section-heading h2 {
    font-size: 34px;
  }
  .section-heading p {
    font-size: 20px;
  }
  .elements-ttl {
    padding: 0 150px;
  }
}

@media only screen and (max-width: 991px) {
  section {
    padding: 75px 0;
  }
  .section-heading {
    padding: 0 100px;
    margin-bottom: 50px;
  }
  .section-heading h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .section-heading p {
    font-size: 18px;
  }
  .elements-ttl {
    padding: 0 100px;
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  section {
    padding: 50px 0;
  }
  .section-heading {
    padding: 0 50px;
    margin-bottom: 30px;
  }
  .section-heading h2 {
    font-size: 26px;
    margin-bottom: 15px;
  }
  .section-heading p {
    font-size: 16px;
  }
  .elements-ttl {
    padding: 0 50px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 520px) {
  .section-heading {
    padding: 0 25px;
  }
  .section-heading h2 {
    font-size: 24px;
  }
  .section-heading p {
    font-size: 14px;
  }
  .elements-ttl {
    padding: 0 25px;
    font-size: 18px;
  }
}

.footer {
  width: 100%;
  padding-bottom: 25px;
  background: #212121;
}

.footer ul {
  margin: 0;
  padding: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer ul li {
  list-style: none;
  margin: 20px 25px 0 25px;
}

.footer ul li a {
  text-decoration: none;
  font-family: JosefinSans;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.footer ul li::after {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  content: '';
  display: block;
  width: 0;
  margin: 0 auto;
  height: 2px;
  background: #b71c1c;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.footer ul li:hover::after {
  width: 100%;
}

.footer ul li:hover a {
  color: #b71c1c;
}

.social-icons {
  margin-bottom: 75px;
  width: 100%;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.social-icons a {
  text-decoration: none;
  font-size: 24px;
  margin: 5px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-icons a .svg-inline--fa {
  z-index: 10;
}

.social-icons a::before {
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-radius: 0;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #fff;
}

.social-icons a:hover::before {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.social-icons__fb {
  color: #3b5998;
  border: 1.5px solid #3b5998;
}

.social-icons__fb:hover::before {
  background: #3b5998;
}

.social-icons__twitter {
  color: #55acee;
  border: 1.5px solid #55acee;
}

.social-icons__twitter:hover::before {
  background: #55acee;
}

.social-icons__instagram {
  color: #125688;
  border: 1.5px solid #125688;
}

.social-icons__instagram:hover::before {
  background: #125688;
}

.social-icons__google-plus {
  color: #dd4b39;
  border: 1.5px solid #dd4b39;
}

.social-icons__google-plus:hover::before {
  background: #dd4b39;
}

.social-icons__github {
  color: #000;
  border: 1.5px solid #000;
}

.social-icons__github:hover::before {
  background: #000;
}

.social-icons__linkedin {
  color: #007bb5;
  border: 1.5px solid #007bb5;
}

.social-icons__linkedin:hover::before {
  background: #007bb5;
}

.social-icons__pinterest {
  color: #cb2027;
  border: 1.5px solid #cb2027;
}

.social-icons__pinterest:hover::before {
  background: #cb2027;
}

.social-icons__behance {
  color: #0069ff;
  border: 1.5px solid #0069ff;
}

.social-icons__behance:hover::before {
  background: #0069ff;
}

.social-icons__vimeo {
  color: #1ab7ea;
  border: 1.5px solid #1ab7ea;
}

.social-icons__vimeo:hover::before {
  background: #1ab7ea;
}

.social-icons__youtube {
  color: #bb0000;
  border: 1.5px solid #bb0000;
}

.social-icons__youtube:hover::before {
  background: #bb0000;
}

.social-icons__whatsapp {
  color: #29a71a;
  border: 1.5px solid #29a71a;
}

.social-icons__whatsapp:hover::before {
  background: #29a71a;
}

.social-icons__telegram {
  color: #269ed1;
  border: 1.5px solid #269ed1;
}

.social-icons__telegram:hover::before {
  background: #269ed1;
}

.social-icons__skype {
  color: #00aff0;
  border: 1.5px solid #00aff0;
}

.social-icons__skype:hover::before {
  background: #00aff0;
}

.social-icons__stack-overflow {
  color: #ffa500;
  border: 1.5px solid #ffa500;
}

.social-icons__stack-overflow:hover::before {
  background: #ffa500;
}

.rounded-social-icons {
  width: 100%;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.rounded-social-icons a {
  text-decoration: none;
  font-size: 24px;
  margin: 5px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  color: #fff;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.rounded-social-icons a::before {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.rounded-social-icons a .svg-inline--fa {
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.rounded-social-icons a:hover::before {
  background: #fff;
}

.rounded-social-icons a:hover .svg-inline--fa {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-icons__fb::before {
  background: #3b5998;
  border: 1.5px solid #3b5998;
}

.rounded-social-icons__fb:hover {
  color: #3b5998;
}

.rounded-social-icons__twitter::before {
  background: #55acee;
  border: 1.5px solid #55acee;
}

.rounded-social-icons__twitter:hover {
  color: #55acee;
}

.rounded-social-icons__instagram::before {
  background: #125688;
  border: 1.5px solid #125688;
}

.rounded-social-icons__instagram:hover {
  color: #125688;
}

.rounded-social-icons__google-plus::before {
  background: #dd4b39;
  border: 1.5px solid #dd4b39;
}

.rounded-social-icons__google-plus:hover {
  color: #dd4b39;
}

.rounded-social-icons__github::before {
  background: #000;
  border: 1.5px solid #000;
}

.rounded-social-icons__github:hover {
  color: #000;
}

.rounded-social-icons__linkedin::before {
  background: #007bb5;
  border: 1.5px solid #007bb5;
}

.rounded-social-icons__linkedin:hover {
  color: #007bb5;
}

.rounded-social-icons__pinterest::before {
  background: #cb2027;
  border: 1.5px solid #cb2027;
}

.rounded-social-icons__pinterest:hover {
  color: #cb2027;
}

.rounded-social-icons__behance::before {
  background: #0069ff;
  border: 1.5px solid #0069ff;
}

.rounded-social-icons__behance:hover {
  color: #0069ff;
}

.rounded-social-icons__vimeo::before {
  background: #1ab7ea;
  border: 1.5px solid #1ab7ea;
}

.rounded-social-icons__vimeo:hover {
  color: #1ab7ea;
}

.rounded-social-icons__youtube::before {
  background: #bb0000;
  border: 1.5px solid #bb0000;
}

.rounded-social-icons__youtube:hover {
  color: #bb0000;
}

.rounded-social-icons__whatsapp::before {
  background: #29a71a;
  border: 1.5px solid #29a71a;
}

.rounded-social-icons__whatsapp:hover {
  color: #29a71a;
}

.rounded-social-icons__telegram::before {
  background: #269ed1;
  border: 1.5px solid #269ed1;
}

.rounded-social-icons__telegram:hover {
  color: #269ed1;
}

.rounded-social-icons__skype::before {
  background: #00aff0;
  border: 1.5px solid #00aff0;
}

.rounded-social-icons__skype:hover {
  color: #00aff0;
}

.rounded-social-icons__stack-overflow::before {
  background: #ffa500;
  border: 1.5px solid #ffa500;
}

.rounded-social-icons__stack-overflow:hover {
  color: #ffa500;
}

.flip-card__block {
  width: 100%;
  padding: 30px 0;
  background: #e0f2f1;
  border-radius: 10px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flip-container {
  margin: 15px 10px;
  -webkit-perspective: 1000;
  perspective: 1000;
  width: 47%;
  height: 40vh;
}

.flip-container .flipper {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

.flip-container .flipper-front, .flip-container .flipper-back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.flip-container .flipper-front {
  z-index: 10;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flip-container .flipper-front div {
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.75);
}

.flip-container .flipper-back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #4db6ac;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
}

.flip-container .flipper-back h5 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.flip-container .flipper-back p {
  font-size: 14px;
  font-weight: 400;
}

.flip-container .flipper-back a {
  margin-top: 25px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #1976d2;
  border-radius: 5px;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

.flip-container .flipper-back a:hover {
  background: #0d47a1;
}

.flip-container:hover .flipper {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-container:nth-child(1) .flipper-front {
  background: url(../img/winter.jpg) no-repeat center/cover;
}

.flip-container:nth-child(2) .flipper-front {
  background: url(../img/spring.jpg) no-repeat center/cover;
}

.flip-container:nth-child(3) .flipper-front {
  background: url(../img/summer.jpg) no-repeat center/cover;
}

.flip-container:nth-child(4) .flipper-front {
  background: url(../img/autumn.jpg) no-repeat center/cover;
}

@media only screen and (max-width: 1199px) {
  .flip-container {
    height: 37vh;
  }
}

@media only screen and (max-width: 991px) {
  .flip-container {
    margin: 15px 0px;
    width: 90%;
    height: 45vh;
  }
}

@media only screen and (max-width: 767px) {
  .flip-container {
    width: 100%;
    height: 37vh;
  }
}

@media only screen and (max-width: 520px) {
  .flip-container {
    height: 40vh;
  }
}

.accordion {
  margin: 0 auto;
  width: 90%;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.accordion__item-ttl {
  width: 100%;
  background: #212121;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  border: 2px solid #f5f5f5;
  position: relative;
}

.accordion__item-ttl:after {
  display: block;
  content: '+';
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.accordion__item-content {
  width: 100%;
  padding: 20px 10px;
  background: #bdbdbd;
  border-left: 2px solid #f5f5f5;
  border-right: 2px solid #f5f5f5;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.accordion__item-ttl_active {
  color: #b71c1c;
}

.accordion__item-ttl_active:after {
  right: 22px;
  content: '-';
}

.nested-accordion {
  margin: 0 auto;
  width: 90%;
}

.nested-accordion__item {
  width: 100%;
  margin-top: 15px;
}

.nested-accordion__item-ttl {
  cursor: pointer;
  width: 100%;
  padding: 10px 20px;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: #0d47a1;
  background: #eee;
  text-align: center;
  position: relative;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.nested-accordion__item-ttl:after {
  display: block;
  content: "+";
  position: absolute;
  top: 50%;
  right: 25px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.nested-accordion__item-ttl.selected {
  background: #0d47a1;
  color: #fff;
}

.nested-accordion__item-ttl.selected:after {
  content: "-";
}

.nested-accordion__item-content {
  text-align: center;
  width: 100%;
  padding: 15px 25px;
  border: 1px solid #0d47a1;
}

@media only screen and (max-width: 520px) {
  .nested-accordion {
    width: 95%;
  }
  .nested-accordion__item {
    margin-top: 10px;
  }
  .nested-accordion__item-ttl {
    font-size: 16px;
  }
  .nested-accordion__item-ttl:after {
    right: 10px;
  }
  .nested-accordion__item-content {
    padding: 10px 5px;
  }
}

.superhero-table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
}

.superhero-table thead {
  background: #222;
  color: #b71c1c;
}

.superhero-table tbody {
  background: #bdbdbd;
}

.superhero-table tr, .superhero-table th, .superhero-table td {
  border: 2px solid #999;
}

.superhero-table th, .superhero-table td {
  padding: 10px 20px;
  text-align: center;
}

.superhero-table th {
  font-weight: 700;
}

.superhero-table td {
  font-weight: 400;
}

@media only screen and (max-width: 767px) {
  .superhero-table {
    border: none;
  }
  .superhero-table thead {
    display: none;
  }
  .superhero-table tbody {
    background: transparent;
  }
  .superhero-table tr {
    display: block;
    margin-top: 20px;
  }
  .superhero-table td {
    border: none;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid #999;
    position: relative;
    padding-left: 50%;
    background: #bdbdbd;
    text-align: left;
  }
  .superhero-table td:before {
    content: attr(data-label);
    display: inline-block;
    color: #b71c1c;
    font-weight: 700;
    margin-left: -100%;
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: left;
  }
  .superhero-table td:after {
    content: '';
    position: absolute;
    background: #222;
    width: 45%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
  }
  .superhero-table td:last-child {
    border-bottom: none;
  }
}
