// to compile...

@import "./_components/_header&footer.scss";
// @import "./_components/_social-icons.scss";
// @import "./_components/_flip-card.scss";


.top-bar-block {
  width: 100%;
  padding: 25px 0;
  background: #333;

  .container {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .site-logo {
    width: 75px;

    img {
      width: 100%;
    }
  }

  .top-bar {
    width: calc(100% - 100px);
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;


  }
}

.top-bar_left {
  .main-ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    ul {
      position: absolute;
      display: none;
      //left: -999999999999px;
    }

    li {
      position: relative;
      padding: 5px 10px;
      background: #000;
      border: 2px solid #0d47a1;

      &:hover {
        > a {
          color: $red;
        }
      }
    }

    a {
      color:#fff;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: all, .3s;
      transition: all, .3s;
    }

    > li {
      margin: 0 5px;
      background: #212121;
      border-radius: 5px;
      border: none;

      > a {
        color: #eeff41;
      }

      // // For animate
      // > ul {
      //   left: 0;
      //   top: 100%;
      // }
      //
      // li > ul {
      //   top: -2px;
      //   left: 100%;
      // }

      &:hover > ul {
        left: 0;
        top: 100%;
        display: block;
      }

      li:hover > ul {
        top: -2px;
        left: 100%;
        display: block;
      }
    }
  }
}

///////////////////////////

nav {
    display: block;
    text-align: center;
  }
  nav ul {
    margin: 0;
    padding:0;
    list-style: none;
  }
  .nav a {
    display:block;
    background: #111;
    color:#fff;
    text-decoration: none;
    padding: .8em 1.8em;
    text-transform: uppercase;
    font-size: 80%;letter-spacing: 2px;
    text-shadow: 0 -1px 0 #000;
    position: relative;
  }
  .nav{
    vertical-align: top;
    display: inline-block;
    -webkit-box-shadow: 1px -1px -1px 1px #000, -1px 1px -1px 1px #fff, 0 0 6px 3px #fff;
            box-shadow: 1px -1px -1px 1px #000, -1px 1px -1px 1px #fff, 0 0 6px 3px #fff;
    border-radius:6px;
  }
  .nav li{position: relative;}
  .nav > li {
    float:left;
    border-bottom: 4px #aaa solid;
    margin-right: 1px;
  }
  .nav > li > a {
    margin-bottom:1px;
    -webkit-box-shadow:inset 0 2em .33em -.5em #555;
            box-shadow:inset 0 2em .33em -.5em #555;
  }
  .nav > li:hover , .nav > li:hover >a{  border-bottom-color:orange;}
  .nav li:hover > a { color:orange; }
  .nav > li:first-child  { border-radius: 4px 0 0 4px;}
  .nav > li:first-child>a{border-radius: 4px 0 0 0;}
  .nav > li:last-child  {
  	border-radius: 0 0 4px 0;
  	margin-right: 0;
  }
  .nav > li:last-child >a{border-radius: 0 4px 0 0; }
  .nav li li a { margin-top:1px}



    .nav li a:first-child:nth-last-child(2):before {
     content:"";
     position: absolute;
     height:0;
     width: 0;
     border: 5px solid transparent;
     top: 50% ;
     right:5px;
   }





   /* submenu positioning*/
.nav ul {
  position: absolute;
  white-space: nowrap;
  border-bottom: 5px solid  orange;
  z-index: 1;
  left: -99999em;
}
.nav > li:hover > ul {
  left: auto;
  padding-top: 5px  ;
  min-width: 100%;
}
.nav > li li ul {  border-left:1px solid #fff;}


.nav > li li:hover > ul {
 /* margin-left: 1px */
  left: 100%;
  top: -1px;
}
/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before {
  border-top-color: #aaa;
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-bottom-color: orange;
  margin-top:-5px
}
.nav li li > a:first-child:nth-last-child(2):before {
  border-left-color: #aaa;
  margin-top: -5px
}
.nav li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-right-color: orange;
  right: 10px;
}

/////////////////////
@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 520px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 520px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 520px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 520px) {

}
