// to compile...

@import "./_components/_header&footer.scss";
// @import "./_components/_social-icons.scss";
// @import "./_components/_flip-card.scss";


.top-bar-block {
  width: 100%;
  padding: 25px 0;
  background: #333;

  .container {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .site-logo {
    width: 75px;

    img {
      width: 100%;
    }
  }

  .top-bar {
    width: calc(100% - 100px);
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    &_right {
      input {
        padding: 5px 10px;
        outline-color: #000;
        font-size: 14px;
        font-weight: 400;
        color: #212121;
      }

      button {
        margin-left: 10px;
        padding: 7px 10px;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        border: none;
        border-radius: 3px;
        background: $red;
        color: #fff;
        -webkit-transition: all, .3s;
        transition: all, .3s;

        &:hover {
          background: darken($red, 10%);
        }
      }
    }
  }
}

.top-bar_left {
  .toggler-icon {
    display: none;
  }
  
  .main-ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    ul {
      position: absolute;
      display: none;
    }

    li {
      list-style: none;
      position: relative;
      padding: 10px 25px;
      background: #000;
      border: 2px solid #0d47a1;

      a {
        color:#fff;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: all, .3s;
        transition: all, .3s;

        // Arrow
        &:first-child:nth-last-child(2):before {
          content:"";
          position: absolute;
          height:0;
          width: 0;
          border: 5px solid transparent;
          top: 50% ;
          right:5px;
        }
      }

      &:hover {
        > a {
          color: $red;
        }
      }

      li {
         > a:first-child:nth-last-child(2):before {
          border-left-color: #fff;
          margin-top: -5px
        }

        &:hover > a:first-child:nth-last-child(2):before {
          border: 5px solid transparent;
          border-right-color: $red;
          right: 10px;
        }
      }
    }

    > li {
      margin: 0 5px;
      background: #212121;
      border-radius: 5px;
      border: none;

      > a {
        color: #eeff41;

        &:first-child:nth-last-child(2):before {
          border-top-color: #eeff41;
        }
      }

      &:hover > a:first-child:nth-last-child(2):before {
        border: 5px solid transparent;
        border-bottom-color: $red;
        margin-top:-5px
      }

      // // For animate
      // > ul {
      //   left: 0;
      //   top: 100%;
      // }
      //
      // li > ul {
      //   top: -2px;
      //   left: 100%;
      // }

      &:hover > ul {
        left: 0;
        top: 100%;
        display: block;
      }

      li:hover > ul {
        top: -2px;
        left: 100%;
        display: block;
      }
    }
  }
}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 520px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 520px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 520px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 520px) {

}
