// to compile...

body {
  overflow-x: hidden;
}

@import "./_components/_header&footer.scss";
// @import "./_components/_social-icons.scss";
// @import "./_components/_flip-card.scss";

// =============== Nav bar from top ===============

.top-bar-block {
  width: 100%;
  padding: 25px 0;
  background: #333;

  .container {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .site-logo {
    width: 75px;

    img {
      width: 100%;
    }
  }

  .top-bar {
    width: calc(100% - 100px);

    &__inside {
      width: 100%;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }

    &_right {
      input {
        padding: 5px 10px;
        outline-color: #000;
        font-size: 14px;
        font-weight: 400;
        color: #212121;
      }

      button {
        margin-left: 10px;
        padding: 7px 10px;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        border: none;
        border-radius: 3px;
        background: $red;
        color: #fff;
        -webkit-transition: all, .3s;
        transition: all, .3s;

        &:hover {
          background: darken($red, 10%);
        }
      }
    }
  }
}

.toggler-icon {
  display: none;
}

.top-bar_left {
  .main-ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    ul {
      position: absolute;
      display: none;
    }

    li {
      list-style: none;
      position: relative;
      padding: 10px 25px;
      background: #000;
      border: 2px solid #0d47a1;

      a {
        color:#fff;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: all, .3s;
        transition: all, .3s;

        // Arrow
        &:first-child:nth-last-child(2):before {
          content: "";
          position: absolute;
          height: 0;
          width: 0;
          border: 5px solid transparent;
          top: 50% ;
          right: 5px;
        }
      }

      &:hover {
        > a {
          color: $red;
        }
      }

      li {
         > a:first-child:nth-last-child(2):before {
          border-left-color: #fff;
          margin-top: -5px;
        }

        &:hover > a:first-child:nth-last-child(2):before {
          border: 5px solid transparent;
          border-right-color: $red;
          right: 10px;
        }
      }
    }

    > li {
      margin: 0 5px;
      background: #212121;
      border-radius: 5px;
      border: none;

      > a {
        color: #eeff41;

        &:first-child:nth-last-child(2):before {
          border-top-color: #eeff41;
        }
      }

      &:hover > a:first-child:nth-last-child(2):before {
        border: 5px solid transparent;
        border-bottom-color: $red;
        margin-top:-5px;
      }

      // // For animate
      // > ul {
      //   left: 0;
      //   top: 100%;
      // }
      //
      // li > ul {
      //   top: -2px;
      //   left: 100%;
      // }

      &:hover > ul {
        left: 0;
        top: 100%;
        display: block;
      }

      li:hover > ul {
        top: -2px;
        left: 100%;
        display: block;
      }
    }
  }
}


@media only screen and (max-width : 991px) {
  .top-bar-block {
    .container {
      width: 100%;
      padding: 0 30px;
    }

    .site-logo {
      width: 50px;
    }

    .top-bar {
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 500;

      &__inside {
        display: none;
      }

      &_right {
        width: 100%;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background: #424242;
        padding: 25px 0;
      }
    }
  }

  .top-bar__toggler-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
    -webkit-transition: all, .5s;
    transition: all, .5s;
    position: absolute;
    right: 30px;
    top: -28px;

    div {
      width: 30px;
      height: 3px;
      background: #fff;
      margin-top: 5px;
      -webkit-transition: all, 1.0s;
      transition: all, 1.0s;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .top-bar__toggler-icon_close {
    div {
      width: 30px;
      height: 3px;
      background: #fff;
      margin-top: 5px;

      &:first-child {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
      }

      &:nth-child(2) {
        margin-top: -2px;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
      }

      &:last-child {
        display: none;
      }
    }
  }

  .top-bar_left {
    .main-ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;

      ul {
        position: relative;
        width: 100%;
        margin-top: 10px;
      }

      li {
        text-align: center;

        a {

          // Arrow
          &:first-child:nth-last-child(2):before {
            top: 15px ;
            right: 35px;
          }
        }

        &:hover {
          > a {
            color: $red;
          }
        }

        li {
           > a:first-child:nth-last-child(2):before {
            border-top-color: #fff;
            border-left-color: transparent;
            margin-top: 0;
          }

          &:hover > a:first-child:nth-last-child(2):before {
            border-bottom-color: $red;
            border-right-color: transparent;
            right: 35px;
            margin-top: -5px;
          }
        }
      }

      > li {
        margin: 0;
        border-radius: 0;
        border: none;

        ul li ul li {
          background: #212121;
        }

        > a {
          color: #eeff41;

          &:first-child:nth-last-child(2):before {
            border-top-color: #eeff41;
          }
        }

        &:hover > a:first-child:nth-last-child(2):before {
          border: 5px solid transparent;
          border-bottom-color: $red;
          margin-top: 0;
        }

        &:hover > ul {
          left: 0;
          top: 0;
          display: none;
        }

        li:hover > ul {
          top: 0;
          left: 0;
          display: none;
        }
      }
    }
  }
}

// ============== Full screen from side ==============

.fs-nav__block {
  width: 100%;
  padding: 25px 0;
  background: #eee;
  position: relative;

  .container {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .site-logo {
    width: 75px;

    img {
      width: 100%;
    }
  }
}

.fs-nav {
  ul {
    margin: 0;
    padding: 0;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;

    li {
      margin: 0 25px;

      a {
        text-decoration: none;
        color: #000;
        font-size: 24px;
        font-weight: 600;
        -webkit-transition: all, .3s;
        transition: all, .3s;
      }

      &::after {
        -webkit-transform: translateY(3px);
                transform: translateY(3px);
        content: '';
        display: block;
        width: 0;
        margin: 0 auto;
        height: 2px;
        background: $red;
        -webkit-transition: all, 0.3s;
        transition: all, 0.3s;
      }

      &:hover {
        &::after {
          width: 100%;
        }

        a {
          color: $red;
        }
      }
    }
  }
}

.fs-nav__toggler-icon {
  display: none;
}

@media only screen and (max-width : 991px) {
  .fs-nav__block {
    .container {
      width: 100%;
      padding: 0 30px;
    }

    .site-logo {
      width: 50px;
    }
  }

  .fs-nav {
    z-index: 400;
    width: 100%;
    height: 400px;
    background: #000;
    position: absolute;
    //right: -100%;
    left: -100%;
    top: -25px;
    -webkit-transition: all, .5s;
    transition: all, .5s;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    ul {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;

      li {
        margin: 10px 0;
        padding: 10px 0;
        text-align: center;
        width: 100%;

        a {
          color: #fff;
        }

        &::after {
          -webkit-transition: all, 1.3s;
          transition: all, 1.3s;
        }

        &:hover {
          background: #212121;

          &::after {
            width: 100%;
          }

          a {
            color: $red;
          }
        }
      }
    }
  }

  .fs-nav_active {
    //right: 0;
    left: 0;
  }

  .fs-nav__toggler-icon {
    z-index: 450;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
    -webkit-transition: all, .5s;
    transition: all, .5s;
    position: absolute;
    right: 30px;
    top: 8px;

    div {
      width: 30px;
      height: 3px;
      background: #000;
      margin-top: 5px;
      -webkit-transition: all, 1.0s;
      transition: all, 1.0s;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .fs-nav__toggler-icon_close {
    div {
      width: 30px;
      height: 3px;
      background: #fff;
      margin-top: 5px;

      &:first-child {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
      }

      &:nth-child(2) {
        margin-top: -2px;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
      }

      &:last-child {
        display: none;
      }
    }
  }
}


// ================== Full screen on both sides ====================

.fs-curt-menu {
  width: 100%;
  padding: 25px 0;
  background: #2196f3;

  &__nav {
    .hide-ul {
      display: none;
    }

    ul {
      margin: 0;
      padding: 0;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      list-style: none;

      li {
        margin: 0 25px;

        a {
          font-size: 24px;
          font-weight: 700;
          color: #fff;
          text-decoration: none;
          -webkit-transition: all, .3s;
          transition: all, .3s;

          &::after {
            -webkit-transform: translateY(3px);
                    transform: translateY(3px);
            content: '';
            display: block;
            width: 0;
            margin: 0 auto;
            height: 2px;
            background: #000;
            -webkit-transition: all, 0.3s;
            transition: all, 0.3s;
          }

          &:hover {
            color: #000;

            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &__toggler-icon {
    display: none;
  }
}

@media only screen and (max-width : 991px) {
  .fs-curt-menu {
    .container {
      width: 100%;
    }

    &__nav {
      width: 100%;
      height: 400px;
      padding: 50px 0;
      position: absolute;
      top: -25px;
      left: 0;
      overflow: hidden;

      .ul-wrapper {
        width: 100%;
        height: 100%;
        z-index: 370;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: absolute;
        top: -50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        -webkit-transition: all, .5s ease-out;
        transition: all, .5s ease-out;
        -webkit-transition-delay: .75s;
                transition-delay: .75s;

      }

      &::before, &::after {
        z-index: 355;
        display: block;
        content: '';
        width: 0%;
        height: 100%;
        background: #0d47a1;
        position: absolute;
        top: 0;
        -webkit-transition: all, .5s;
        transition: all, .5s;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }

      ul {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        display: none;


        li {
          width: 100%;
          margin: 5px 0;
          display: -ms-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-transition: all, .3s;
          transition: all, .3s;

          &:hover {
            background: #fff;

            a {
              color: #0d47a1;
            }
          }

          a {
            text-transform: uppercase;
            padding: 15px 0;

            &::after {
              -webkit-transform: translateY(3px);
                      transform: translateY(3px);
              content: '';
              display: block;
              width: 0;
              margin: 0 auto;
              height: 2px;
              background: #0d47a1;
              -webkit-transition: all, 0.3s;
              transition: all, 0.3s;
            }

            &:hover {
              &:after {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .fs-curt-menu__nav_active {
      .ul-wrapper {
        top: 50%;
      }

      &::before, &::after {
        width: 50%;
      }

      ul {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
    }

    &__toggler-icon {
      z-index: 375;
      position: absolute;
      right: 35px;
      top: -20px;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background: #fff;
      cursor: pointer;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
              box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      span {
        font-size: 35px;
        font-weight: 700;
        color: #0d47a1;
        -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
        margin-left: -3px;
        margin-top: 2px;
        -webkit-transition: all, .3s ease-in;
        transition: all, .3s ease-in;
        -webkit-transition-delay: .3s;
                transition-delay: .3s;
      }
    }

    .fs-curt-menu__toggler-icon_close {
      span {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        margin-left: 0;
        margin-top: -3px;
      }
    }
  }
}


// ============== Nav-bar from left =================

.fl-nav__block {
  width: 100%;
  padding: 25px 0;
  background: #8d6e63;

  .container {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }

  .site-logo {
    width: 75px;

    img {
      width: 100%;
    }
  }
}

.fl-nav {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  &__toggler-icon {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    li {
      margin: 0 25px;

      a {
        font-size: 24px;
        font-weight: 700;
        color: #000;
        text-decoration: none;
        -webkit-transition: all, .3s;
        transition: all, .3s;

        &::after {
          -webkit-transform: translateY(3px);
                  transform: translateY(3px);
          content: '';
          display: block;
          width: 0;
          margin: 0 auto;
          height: 2px;
          background: darken($red, 15%);
          -webkit-transition: all, 0.3s;
          transition: all, 0.3s;
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }
      }

      &:hover {
        a {
          color: darken($red, 15%);
        }
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .fl-nav__block {
    .container {
      width: 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      overflow: visible;
    }

    .site-logo {
      width: 50px;
      margin-right: 30px;
    }
  }

  .fl-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    position: absolute;
    top: -25px;
    left: -255px;
    -webkit-transition: all, .5s;
    transition: all, .5s;
    z-index: 300;

    &__toggler-icon {
      margin-left: 30px;
      margin-top: 32px;
      z-index: 450;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      cursor: pointer;
      -webkit-transition: all, .05s;
      transition: all, .05s;

      div {
        width: 30px;
        height: 3px;
        background: #000;
        margin-top: 5px;
        -webkit-transition: all, .3s ease-in;
        transition: all, .3s ease-in;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .fl-nav__toggler-icon_close {
      margin-left: 10px;
      margin-top: 41px;

      div {
        width: 30px;
        height: 3px;
        background: #fff;
        margin-top: 5px;

        &:first-child {
          margin-top: 0;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
        }

        &:nth-child(2) {
          margin-top: -2px;
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
        }

        &:last-child {
          display: none;
        }
      }
    }

    ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 255px;
      background: #222;
      padding: 30px 0;

      li {
        margin: 5px 0;
        padding: 20px 0;
        text-align: center;

        a {
          font-size: 24px;
          font-weight: 700;
          color: #000;
          text-decoration: none;
          -webkit-transition: all, .3s;
          transition: all, .3s;

          &:hover {
            &:after {
              width: 0%;
            }
          }
        }

        &:hover {
          background: #000;
          a {
            color: darken($red, 15%);
          }
        }
      }
    }
  }

  .fl-nav_active {
    left: 0;
  }
}

// ================= Accordion ===============
