// to compile...

@import "./_components/_header&footer.scss";

$color__fb: #3b5998;
$color__twitter: #55acee;
$color__instagram: #125688;
$color__google-plus: #dd4b39;
$color__github: #000;

// =============== Sticky social icons from left ===========

.sticky-social-icons_l {
  width: 50px;
  height: 290px;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 50%;
  left: -25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #333;
  overflow: hidden;
  opacity: 0.5;
  -webkit-transition: all, .5s;
  transition: all, .5s;

  &:hover {
    left: 0;
    overflow: visible;
    opacity: 1;
  }

  .l-social-icons {
    list-style: none;
    position: absolute;
    top: 10px;
    left: 5px;

    li {
      margin: 10px 0;

      a {
        width: 230px;
        font-size: 20px;
        color: #fff;
        border-radius: 3px;
        text-decoration: none;
        padding: 10px;
        padding-left: 40px;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-transform: translateX(-195px);
                transform: translateX(-195px);
        -webkit-transition: all, .5s;
        transition: all, .5s;

        &:hover {
          -webkit-transform: translateX(-30px);
                  transform: translateX(-30px);
        }
      }
    }

    &__fb {
      background: $color__fb;
    }

    &__twitter {
      background: $color__twitter;
    }

    &__instagram {
      background: $color__instagram;
    }

    &__google-plus {
      background: $color__google-plus;
    }

    &__github {
      background: $color__github;
    }
  }
}

// =============== Sticky social icons from right ===========

.sticky-social-icons_r {
  background: transparent;
  position: fixed;
  top: 50%;
  right: -20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 15px 10px;
  list-style: none;
  opacity: 0.5;
  -webkit-transition: all, .5s;
  transition: all, .5s;

  &:hover {
    background: #607d8b;
    right: 0;
    opacity: 1;
  }

  li {
    margin: 10px 0;

    a {
      width: 35px;
      height: 35px;
      border-radius: 35px;
      font-size: 20px;
      color: #fff;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transition: all, .5s;
      transition: all, .5s;
    }
  }

  &__fb {
    background: $color__fb;

    &:hover {
      background: #fff;
      color: $color__fb;
    }
  }

  &__twitter {
    background: $color__twitter;

    &:hover {
      background: #fff;
      color: $color__twitter;
    }
  }

  &__instagram {
    background: $color__instagram;

    &:hover {
      background: #fff;
      color: $color__instagram;
    }
  }
}

// =============== Sticky button to top ===========

#btnToTop {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: none;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 25px;
  right: -55px;
  background: $red;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  z-index: 700;
  outline: none;
  opacity: 0.7;
  -webkit-transition: all, .5s;
  transition: all, .5s;

  &:hover {
    background: darken($red, 10%);
    opacity: 1;
  }

  span {
    -webkit-animation-name: btnToTopIcon;
            animation-name: btnToTopIcon;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear
  }

  &.show {
    right: 25px;
  }
}

@-webkit-keyframes btnToTopIcon {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes btnToTopIcon {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media only screen and (max-width : 991px) {
  #btnToTop {
    width: 40px;
    height: 40px;
    bottom: 20px;
    font-size: 18px;

    &.show {
      right: 20px;
    }
  }
}

// ============= Sticky nav-bar ====================

.sticky-nav-bar__block {
  width: 100%;
  background: rgba(183, 28, 28, 0.95);
  padding: 25px 0;
  z-index: 1000;
  -webkit-transition: all, .5s;
  transition: all, .5s;

  &.stick {
    position: fixed;
    top: 0;
    padding: 20px 0;
    background: rgba(183, 28, 28, 0.75);
  }

  &:hover {
    background: rgba(183, 28, 28, 0.95);
  }
}

.sticky-nav {
  &__toggler-icon {
    display: none;
  }

  &-bar {
    margin: 0;
    padding: 0;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    li {
      position: relative;
      list-style: none;
      margin: 0 25px;

      &::after {
        margin: 0 auto;
        -webkit-transform: translateY(1px);
                transform: translateY(1px);
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #fff;
        -webkit-transition: all, .3s;
        transition: all, .3s;
      }

      &:hover {
        &::after {
          width: 100%;
        }

        a {
          color: #fff;
        }
      }

      a {
        padding: 0;
        font-size: 20px;
        font-weight: 700;
        color: #000;
        text-decoration: none;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .sticky-nav-container {
    width: 100% !important;
    height: 100%;
  }

  .sticky-nav {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1 !important;

    &__toggler-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      cursor: pointer;
      -webkit-transition: all, 1.5s;
      transition: all, 1.5s;
      position: absolute;
      left: 10%;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);


      div {
        width: 30px;
        height: 3px;
        background: #000;
        margin-top: 5px;
        -webkit-transition: all, .5s ease-in;
        transition: all, .5s ease-in;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .sticky-nav__toggler-icon_close {
      left: calc(90% - 30px);

      div {
        width: 30px;
        height: 3px;
        background: #000;
        margin-top: 5px;

        &:first-child {
          margin-top: 1px;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
        }

        &:nth-child(2) {
          margin-top: -2px;
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
        }

        &:last-child {
          display: none;
        }
      }
    }

    &-bar {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      z-index: 10;
      background: rgba(183, 28, 28, 1);
      border-bottom: 7px solid #9e9e9e;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(183, 28, 28, 0.95)), to(rgba(183, 28, 28, 1)));
      background: linear-gradient(rgba(183, 28, 28, 0.95), rgba(183, 28, 28, 1));

      li {
        width: 100%;
        position: relative;
        margin-left: 0;
        padding-top: 20px;
        margin-bottom: 0;
        border-top: none;
        padding-bottom: 20px;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-transition: all, .3s;
        transition: all, .3s;

        &::after {
          -webkit-transform: translateY(3px);
                  transform: translateY(3px);
          content: '';
          display: block;
          width: 0;
          margin: 0 auto;
          height: 2px;
          background: #fff;
          -webkit-transition: all, 1.5s;
          transition: all, 1.5s;
        }

        &:hover {
          background: darken($red, 10%);

          &::after {
            width: 100%;
          }

          a {
            color: #fff;
          }
        }

        a {
          color: #000;
          text-align: center;
          margin: 0 auto;
          -webkit-transition: all, .3s;
          transition: all, .3s;
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .sticky-nav {
    &-bar {
      border-bottom: 5px solid #9e9e9e;

      li {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}

@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 520px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 520px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 520px) {

}
