// to compile...

@import "./_components/_header&footer.scss";
@import "./_components/_social-icons.scss";
@import "./_components/_flip-card.scss";




@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 520px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 520px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 520px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 520px) {

}
