$red: #b71c1c;

@import "./_josefin-sans.scss";
@import "./_lato.scss";
@import "./_nav-bar.scss";

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  //border: 1px solid red;
}

body {
  font-family: Lato, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width : 1199px) {
  .container {
    width: 960px;
  }
}

@media only screen and (max-width : 991px) {
  .container {
    width: 720px;
  }
}

@media only screen and (max-width : 767px) {
  .container {
    width: 500px;
  }
}

@media only screen and (max-width : 520px) {
  .container {
    width: 90vw;
  }
}

// ============ Header ===============

.header {
  width: 100%;
  padding-bottom: 250px;
  background: url(../img/header__bg.jpg) no-repeat center / cover;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  &-block__nav {
    width: 100%;
    position: relative;
    background: rgba(183, 28, 28, 0.95);
    padding-bottom: 20px;
  }

  &-block__heading {
    width: 100%;
    background: #b71c1c;
    padding: 50px 0;
    border-top: 10px solid #9e9e9e;
    border-bottom: 10px solid #9e9e9e;
    margin-top: 250px;
    text-align: center;
    font-family: JosefinSans;

    h1 {
      font-size: 54px;
      font-weight: 500;
      margin: 0;
      margin-bottom: 30px;
      text-transform: uppercase;
    }

    p {
      margin: 0;
      font-size: 28px;
      font-weight: 400;
    }
  }
}

@media only screen and (max-width : 1199px) {
  .header {
    padding-bottom: 225px;

    &-block__heading {
      margin-top: 225px;

      h1 {
        font-size: 44px;
        margin-bottom: 25px;
      }

      p {
        font-size: 24px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .header {
    padding-bottom: 175px;

    &-block__heading {
      padding: 40px 0;
      border-top: 7px solid #9e9e9e;
      border-bottom: 7px solid #9e9e9e;
      margin-top: 175px;

      h1 {
        font-size: 34px;
      }

      p {
        font-size: 20px;
      }
    }

    &-block__nav {
      height: 50px;
      padding-bottom: 0px;
    }
  }
}

@media only screen and (max-width : 767px) {
  .header {
    padding-bottom: 150px;

    &-block__heading {
      padding: 40px 0;
      border-top: 5px solid #9e9e9e;
      border-bottom: 5px solid #9e9e9e;
      margin-top: 150px;

      h1 {
        font-size: 30px;
      }

      p {
        font-size: 18px;
      }
    }
  }
}

// ============== Sections ================

section {
  width: 100%;
  padding: 100px 0;

  &:nth-child(even) {
    background: #e0e0e0;
  }

  &:nth-child(odd) {
    background: #fafafa;
  }
}

.section-heading {
  width: inherit;
  padding: 0 200px;
  text-align: center;
  margin-bottom: 100px;
  color: $red;

  h2 {
    font-family: JosefinSans;
    font-size: 36px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 600;
  }

  p {
    font-size: 22px;
  }
}

.elements-ttl {
  width: 100%;
  padding: 0 200px;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}

@media only screen and (max-width : 1199px) {
  section {
    padding: 90px 0;
  }

  .section-heading {
    padding: 0 150px;
    margin-bottom: 75px;

    h2 {
      font-size: 34px;
    }

    p {
      font-size: 20px;
    }
  }

  .elements-ttl {
    padding: 0 150px;
  }
}

@media only screen and (max-width : 991px) {
  section {
    padding: 75px 0;
  }

  .section-heading {
    padding: 0 100px;
    margin-bottom: 50px;

    h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
    }
  }

  .elements-ttl {
    padding: 0 100px;
    font-size: 24px;
  }
}

@media only screen and (max-width : 767px) {
  section {
    padding: 50px 0;
  }

  .section-heading {
    padding: 0 50px;
    margin-bottom: 30px;

    h2 {
      font-size: 26px;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
    }
  }

  .elements-ttl {
    padding: 0 50px;
    font-size: 20px;
  }
}

@media only screen and (max-width : 520px) {
  .section-heading {
    padding: 0 25px;

    h2 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
  }

  .elements-ttl {
    padding: 0 25px;
    font-size: 18px;
  }
}

// ============== Footer =============

.footer {
  width: 100%;
  padding-bottom: 25px;
  background: #212121;

  ul {
    margin: 0;
    padding: 0;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    li {
      list-style: none;
      margin: 20px 25px 0 25px;

      a {
        text-decoration: none;
        font-family: JosefinSans;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        -webkit-transition: all, 0.3s;
        transition: all, 0.3s;
      }

      &::after {
        -webkit-transform: translateY(3px);
                transform: translateY(3px);
        content: '';
        display: block;
        width: 0;
        margin: 0 auto;
        height: 2px;
        background: $red;
        -webkit-transition: all, 0.3s;
        transition: all, 0.3s;
      }

      &:hover {
        &::after {
          width: 100%;
        }

        a {
          color: $red;
        }
      }
    }
  }
}
