// ============ Flip card ===================

.flip-card__block {
  width: 100%;
  padding: 30px 0;
  background: #e0f2f1;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flip-container {
  margin: 15px 10px;
  perspective: 1000;
  width: 47%;
  height: 40vh;

  .flipper {
    width: 100%;
    height: 100%;
    transition: 0.6s;
	  transform-style: preserve-3d;
	  position: relative;

    &-front, &-back {
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      position: absolute;
	    top: 0;
	    left: 0;
      border-radius: 5px;
    }

    &-front {
      z-index: 10;
      display: flex;
      align-items: center;

      div {
        width: 100%;
        padding: 15px;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        background: rgba(255, 255, 255, 0.75);
      }
    }

    &-back {
      transform: rotateY(180deg);
      background: #4db6ac;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 30px;

      h5 {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 30px;
      }

      p {
        font-size: 14px;
        font-weight: 400;
      }

      a {
        margin-top: 25px;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        background: #1976d2;
        border-radius: 5px;
        transition: all, 0.5s;

        &:hover {
          background: #0d47a1;
        }
      }
    }
  }

  &:hover {
    .flipper {
      transform: rotateY(180deg);
    }
  }

  &:nth-child(1) {
    .flipper {
      &-front {
        background: url(../img/winter.jpg) no-repeat center / cover;
      }
    }
  }

  &:nth-child(2) {
    .flipper {
      &-front {
        background: url(../img/spring.jpg) no-repeat center / cover;
      }
    }
  }

  &:nth-child(3) {
    .flipper {
      &-front {
        background: url(../img/summer.jpg) no-repeat center / cover;
      }
    }
  }

  &:nth-child(4) {
    .flipper {
      &-front {
        background: url(../img/autumn.jpg) no-repeat center / cover;
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .flip-container {
    height: 37vh;
  }
}

@media only screen and (max-width : 991px) {
  .flip-container {
    margin: 15px 0px;
    width: 90%;
    height: 45vh;
  }
}

@media only screen and (max-width : 767px) {
  .flip-container {
    width: 100%;
    height: 37vh;
  }
}

@media only screen and (max-width : 520px) {
  .flip-container {
    height: 40vh;
  }
}
