// to compile...

@import "./_components/_header&footer.scss";

// Remove margin of dots for all slider
.slick-dotted.slick-slider {
  margin: 0;
}

// ========== Simple slider ============

.simple-slider {
  width: 100%;
  margin: 0;
  padding: 0;

  &__slide {
    width: 100%;
    height: 700px;
    position: relative;
    outline: none;

    &:before {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
    }

    // Styles for Content

    .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    h3 {
      font-family: JosefinSans;
      font-size: 42px;
      font-weight: 400;
      color: #fff;
      margin: 0;
    }

    &_01 {
      background: url(../img/space-slider__bg_01.jpg) no-repeat center / cover;
    }

    &_02 {
      background: url(../img/space-slider__bg_02.jpg) no-repeat center / cover;
    }

    &_03 {
      background: url(../img/space-slider__bg_03.jpg) no-repeat center / cover;
    }
  }
}

.simple-slider__block {
  position: relative;
}

.simple-slider__arrow {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: #000;
  font-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all, .5s;

  &:hover {
    background: rgba(255, 255, 255, 0.95);
  }

  &_prev {
    left: 30px;
  }

  &_next {
    right: 30px;
  }
}

.simple-slider__slick-dots {
  display: flex;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);

  li {
    list-style: none;

    button {
      font-size: 0;
      width: 10px;
      height: 10px;
      border: none;
      border-radius: 10px;
      background: #fefefe;
      margin-right: 10px;
      outline: none;
      cursor: pointer;
      padding: 0;
      transition: all, .5s;

      &:hover {
        background: lighten(red, 15%);
      }
    }

    &:last-child {
      button {
        margin-right: 0;
      }
    }
  }

  li.slick-active {
    button {
      background: darken(red, 15%);
    }
  }
}

@media only screen and (max-width : 1199px) {
  .simple-slider {
    &__slide {
      height: 600px;

      h3 {
        font-size: 36px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .simple-slider {
    &__slide {
      height: 500px;

      h3 {
        font-size: 32px;
      }
    }
  }

  .simple-slider__arrow {
    width: 35px;
    height: 35px;
    font-size: 28px;

    &_prev {
      left: 20px;
    }

    &_next {
      right: 20px;
    }
  }
}

@media only screen and (max-width : 767px) {
  .simple-slider {
    &__slide {
      height: 400px;

      h3 {
        font-size: 28px;
      }
    }
  }
}


// ========== Vertical slider ============

.vertical-slider {
  width: 100%;
  margin: 0;
  padding: 0;

  &__slide {
    width: 100%;
    height: 700px !important;
    position: relative;
    outline: none;

    &:before {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: -1px;
      background: rgba(0, 0, 0, 0.7);
    }

    // Styles for Content

    .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    h3 {
      font-family: JosefinSans;
      font-size: 42px;
      font-weight: 400;
      color: #fff;
      margin: 0;
    }

    &_01 {
      background: url(../img/river-slider__bg_01.jpg) no-repeat center / cover;
    }

    &_02 {
      background: url(../img/river-slider__bg_02.jpg) no-repeat center / cover;
    }

    &_03 {
      background: url(../img/river-slider__bg_03.jpg) no-repeat center / cover;
    }
  }
}

.vertical-slider__block {
  position: relative;
}

.vertical-slider__arrow {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: #000;
  font-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 30px;
  transition: all, .5s;

  &:hover {
    background: rgba(255, 255, 255, 0.95);
  }

  &_prev {
    top: 30px;
  }

  &_next {
    bottom: 30px;
  }
}

.vertical-slider__slick-dots {
  display: flex;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%) rotate(90deg);

  li {
    list-style: none;

    button {
      font-size: 0;
      width: 25px;
      height: 3px;
      border: none;
      border-radius: 3px;
      background: #fefefe;
      margin-right: 10px;
      outline: none;
      cursor: pointer;
      padding: 0;
      transition: all, .5s;

      &:hover {
        background: lighten(red, 15%);
      }
    }

    &:last-child {
      button {
        margin-right: 0;
      }
    }
  }

  li.slick-active {
    button {
      background: darken(red, 15%);
      height: 5px;
    }
  }
}

@media only screen and (max-width : 1199px) {
  .vertical-slider {
    &__slide {
      height: 600px !important;

      h3 {
        font-size: 36px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .vertical-slider {
    &__slide {
      height: 500px !important;

      h3 {
        font-size: 32px;
      }
    }
  }

  .vertical-slider__arrow {
    width: 35px;
    height: 35px;
    font-size: 28px;
    right: 20px;

    &_prev {
      top: 20px;
    }

    &_next {
      bottom: 20px;
    }
  }

  .vertical-slider__slick-dots {
    left: -5px;
  }
}

@media only screen and (max-width : 767px) {
  .vertical-slider {
    &__slide {
      height: 400px !important;

      h3 {
        font-size: 28px;
      }
    }
  }

  .vertical-slider__slick-dots {
    left: -15px;
  }
}


// ========== Responsive slider ============

.responsive-slider {
  width: 100%;
  margin: 0;
  padding: 0;

  .slick-slide {
    outline: none;
  }

  &__slide {
    outline: none !important;
    width: 250px !important;
    height: 350px;
    margin: 30px auto;
    display: flex !important;
    justify-content: center;
    align-items: center;

    h3 {
      font-family: JosefinSans;
      font-size: 24px;
      font-weight: 400;
    }

    &_01 {
      background: #b71c1c;
    }

    &_02 {
      background: #009688;
    }

    &_03 {
      background: #00bcd4;
    }

    &_04 {
      background: #4caf50;
    }

    &_05 {
      background: #2196f3;
    }

    &_06 {
      background: #ffeb3b;
    }

    &_07 {
      background: #ff5722;
    }

    &_08 {
      background: #9e9e9e;
    }

    &_09 {
      background: #a1887f;
    }

    &_10 {
      background: #607d8b;
    }

    &_01 {
      background: #b71c1c;
    }

    &_11 {
      background: #b71c1c;
    }

    &_12 {
      background: #d505a6;
    }

    &_13 {
      background: #263238;
    }

    &_14 {
      background: #aeea00;
    }

    &_15 {
      background: #18ffff ;
    }

    &_16 {
      background: #651fff;
    }

    &_17 {
      background: #1a237e;
    }

    &_18 {
      background: #004d40;
    }

    &_19 {
      background: #e65100;
    }

    &_20 {
      background: #3e2723;
    }

    &_21 {
      background: #01579b;
    }

    &_22 {
      background: #424242;
    }

    &_23 {
      background: #ffff00;
    }

    &_24 {
      background: #1b5e20;
    }
  }
}

.responsive-slider__block {
  position: relative;
}

.responsive-slider__arrow {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: #000;
  font-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all, .5s;

  &:hover {
    background: rgba(255, 255, 255, 0.95);
  }

  &_prev {
    left: 0px;
  }

  &_next {
    right: 0px;
  }
}

.responsive-slider__slick-dots {
  display: flex;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);

  li {
    list-style: none;

    button {
      font-size: 0;
      width: 10px;
      height: 10px;
      border: none;
      border-radius: 10px;
      background: #fefefe;
      margin-right: 10px;
      outline: none;
      cursor: pointer;
      padding: 0;
      transition: all, .5s;

      &:hover {
        background: lighten(red, 15%);
      }
    }

    &:last-child {
      button {
        margin-right: 0;
      }
    }
  }

  li.slick-active {
    button {
      background: darken(red, 15%);
    }
  }
}

@media only screen and (max-width : 1199px) {
  .responsive-slider {
    &__slide {
      margin: 30px auto;
    }
  }
}

@media only screen and (max-width : 991px) {
  .responsive-slider {
    &__slide {
      width: 290px !important;
    }
  }

  .responsive-slider__arrow {
    width: 35px;
    height: 35px;
    font-size: 28px;
  }
}

@media only screen and (max-width : 767px) {
  .responsive-slider {
    &__slide {
      width: 225px !important;
      height: 300px;
      margin: 25px auto;
    }
  }
}

@media only screen and (max-width : 520px) {
  .responsive-slider {
    &__slide {
      width: 275px !important;
      height: 350px;
      margin: 20px auto;
    }
  }
}


// ========== Counter slider ============

.counter-slider {
  width: 100%;
  margin: 0;
  padding: 0;

  &__slide {
    width: 100%;
    height: 700px;
    position: relative;
    outline: none;

    &:before {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
    }

    // Styles for Content

    .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    h3 {
      font-family: JosefinSans;
      font-size: 42px;
      font-weight: 400;
      color: #fff;
      margin: 0;
    }

    &_01 {
      background: url(../img/lake-01.jpg) no-repeat center / cover;
    }

    &_02 {
      background: url(../img/lake-02.jpg) no-repeat center / cover;
    }

    &_03 {
      background: url(../img/lake-03.jpg) no-repeat center / cover;
    }
  }
}

.counter-slider__block {
  position: relative;
}

.counter-slider__arrow {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: #000;
  font-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all, .5s;

  &:hover {
    background: rgba(255, 255, 255, 0.95);
  }

  &_prev {
    left: 30px;
  }

  &_next {
    right: 30px;
  }
}

.counter-slider__slick-dots {
  display: flex;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);

  li {
    list-style: none;
    margin: 0 10px;

    a {
      font-family: JosefinSans;
      font-size: 20px;
      font-style: italic;
      font-weight: 400;
      color: #fefefe;
      text-decoration: none;
      cursor: pointer;
    }
  }

  li.slick-active {
    a {
      color: darken(red, 15%);
    }
  }
}

.counter-slider__count {
  position: absolute;
  top: 30px;
  right: 50px;

  .slider-count {
    font-family: JosefinSans;
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
    color: #fefefe;

    #current-slide {
      color: $red;
    }

    #total-slide {
      color: #999;
    }
  }
}

@media only screen and (max-width : 1199px) {
  .counter-slider {
    &__slide {
      height: 600px;

      h3 {
        font-size: 36px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .counter-slider {
    &__slide {
      height: 500px;

      h3 {
        font-size: 32px;
      }
    }
  }

  .counter-slider__arrow {
    width: 35px;
    height: 35px;
    font-size: 28px;

    &_prev {
      left: 20px;
    }

    &_next {
      right: 20px;
    }
  }

  .counter-slider__count {
    right: 20px;
  }
}

@media only screen and (max-width : 767px) {
  .counter-slider {
    &__slide {
      height: 400px;

      h3 {
        font-size: 28px;
      }
    }
  }
}
